<header style=" padding-left:10px; color: #171A1F; font-size: 24px; font-family: Lexend; font-weight: 700; line-height: 36px; word-wrap: break-word">Adjustments</header>
<P style="padding-left:10px; font-family: Lexend; padding-top:30px">To get started, In the dropdown below choose the time period that best matches the data you're uploading</P>
        <div class="col-3">
          <div class="dropdown" style = "padding-left:10px">
            <button style = " background-color:#ffffff; color:black" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ dateString }}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <!-- <div *ngFor="let unit of options"> -->

                <li>
                  {{ dateString }}</li>
              <!-- </div> -->
            </ul>
          </div>
    <!-- </div> -->
    <!-- <div> -->
        <!-- <a href="#">sample other-information file</a> -->
    <!-- </div> -->
</div>
<div>
    <p style="padding-top:50px; padding-left:10px; font-family: Lexend; ">Use this section to make adjustments for your trial balance</p>
</div>
<div style="padding-bottom:5px; text-align: right;">
  <button style = "font-family: Lexend; font-size: 16px; color: #ffffff; border: none;  padding-left: 14.50px; padding-right: 14.50px; padding-top: 7px; padding-bottom: 7px; background: #379AE6; border-radius: 18px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex" type="button" class="btn btn-danger" (click)="signatoryFormControls()">+ Add Adjustments</button></div>
<div class="card" style="font-family: Lexend;width:100%;overflow-y: auto;overflow-x: auto;height: 400px;">
    <div class="card-header" style="font-family: Lexend;width:100%; overflow-x: 100%;display: flex;flex-direction: row;">
      <label class="col">Period</label>
      <label class="col">Unit Code</label>
      <label class="col">Adjustment type</label>
      <label class="col-1">Gl Code</label>
      <label class="col">Gl Description</label>
      <label class="col">COC Name</label>
      <label class="col">Adjusted Amount</label>
      <label class="col" style="padding-right: 50px;">Narration</label>
    </div>
    <div class="card-body">
        <form [formGroup]="signatoryForm"  *ngFor="let control of adjustmentControls.controls; let i = index">
          <div formArrayName="adjustmentControls" class="row">
            <div class="col" [formGroupName]="i">
              <!-- <div class="input-group"> -->
                <!-- <div class="input-group-text">@</div> -->
                <!-- <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="period" value={{dateString}} formControlName="period"> -->
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Period" value={{dateString}} >
              <!-- </div> -->
            </div>

            <div class="col" [formGroupName]="i">
                <!-- <div class="input-group"> -->
                  <!-- <div class="input-group-text">@</div> -->
                  <!-- <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="unit Code" formControlName="unit_code"> -->
                <!-- </div> -->
                <select class="form-select" id="inlineFormSelectPref" formControlName="unit_code">
                  <option *ngFor="let unit of unitData" [value]="unit">
                    {{ unit }}
                  </option>
                </select>
              </div>
              <div class="col" [formGroupName]="i">
                <!-- <div class="input-group"> -->
                  <!-- <div class="input-group-text">@</div> -->
                  <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Adjustment type" formControlName="adjustmentType">
                <!-- </div> -->
                <!-- <select class="form-select" id="inlineFormSelectPref" formControlName="adjustmentType">
                  <option selected>Choose...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select> -->
              </div>
              <div class="col" [formGroupName]="i">
                <!-- <div class="input-group"> -->
                  <!-- <div class="input-group-text">@</div> -->
                  <!-- <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="gl code" formControlName="gl_code"> -->
                <!-- </div> -->
                <select class="form-select" id="inlineFormSelectPref" formControlName="gl_code" (change)="updateGlDescription($event,i)">
                  <option *ngFor="let code of uniqueGlcodes" [value]="code['Gl Code']">
                    {{ code["Gl Code"] }}
                  </option>
                </select>
              </div>
            <div [formGroupName]="i" class="col">
                <!-- <div class="input-group"> -->
                  <!-- <div class="input-group-text">@</div> -->
                  <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="GL Description" formControlName="gl_description">
                <!-- </div> -->
              </div>
              <div [formGroupName]="i" class="col">
                <!-- <div class="input-group"> -->
                  <!-- <div class="input-group-text">@</div> -->
                  <!-- <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="coc name" formControlName="coc_name"> -->
                <!-- </div> -->
                <select class="form-select" id="inlineFormSelectPref" formControlName="coc_name">
                  <option>
                    (Increase)/ decrease in inventories of finished goods, work-in-progress and traded goods
                  </option>
                  <option>Accrued Interest on term loan from banks - Non current</option>
                  <option>Adjustment of tax relating to earlier years</option>
                  <option>Advance to employees</option>
                  <option>Advance to others</option>
                  <option>Advance to related parties</option>
                  <option>Advance to related parties - financial asset</option>
                  <option>Advances from customers</option>
                  <option>Advances from others</option>
                  <option>Advances to Vendors - Considered Doubtful</option>
                  <option>Advances to Vendors - Considered Good</option>
                  <option>Advances to Vendors - Provision for doubtful - Considered Doubtful</option>
                  <option>Advertising and sales promotion</option>
                  <option>Aircraft</option>
                  <option>Aircraft - Accumulated Depreciation</option>
                  <option>Amortisation of deferred lease rental</option>
                  <option>Amortisation of intangible asset</option>
                  <option>Application money received for allotment of securities to the extent refundable and interest accrued thereon</option>
                  <option>Assets held for sale</option>
                  <option>Audit Fees</option>
                  <option>Bad Debts</option>
                  <option>Balances with Government authorities - Current</option>
                  <option>Balances with Government authorities - Non Current</option>
                  <option>Bank charges - Finance cost</option>
                  <option>Bank deposits with original maturity of more than three months but up to twelve months</option>
                  <option>Bank deposits with original maturity of up to three months</option>
                  <option>Bank deposits with remaining maturity of more than 12 months</option>
                  <option>Bank overdraft - Secured</option>
                  <option>Bank overdraft - Unsecured</option>
                  <option>Banquet and decoration expenses</option>
                  <option>Bonus to employees - Employee benefits</option>
                  <option>Buildings</option>
                  <option>Buildings - Accumulated Depreciation</option>
                  <option>Buyers credit from bank - Secured</option>
                  <option>Buyers credit from bank - Unsecured</option>
                  <option>Commission -other than sole selling agent</option>
                  <option>Communication costs</option>
                  <option>Computers</option>
                  <option>Computers - Accumulated Depreciation</option>
                  <option>Consumption of food and beverages (excluding liquor and wine)</option>
                  <option>Consumption of liquor and wine</option>
                  <option>Consumption of packing material</option>
                  <option>Consumption of Raw Material</option>
                  <option>Consumption of raw material from discontinuing operations</option>
                  <option>Consumption of stores and spares</option>
                  <option>Contribution to provident and other funds - Employee benefits</option>
                  <option>CSR expense</option>
                  <option>Current account in bank</option>
                  <option>Current Maturities - Accrued Interest on Term Loan from Banks - Secured</option>
                  <option>Current Maturities - Debentures - Secured</option>
                  <option>Current Maturities - Debentures - Unsecured</option>
                  <option>Current Maturities - Terms Loans from Banks - Secured</option>
                  <option>Current Maturities - Terms Loans from Banks - Unsecured</option>
                  <option>Current Maturities - Vehicle Loans from Banks - Secured</option>
                  <option>Current tax expense</option>
                  <option>Debenture redemption reserve</option>
                  <option>Debentures from bank - Secured</option>
                  <option>Debentures from NBFC - Secured</option>
                  <option>Debentures from third parties - Secured</option>
                  <option>Debentures from third parties - Unsecured</option>
                  <option>Debt instruments through Other Comprehensive Income</option>
                  <option>Deferred consideration</option>
                  <option>Deferred Government grant considered as income</option>
                  <option>Deferred Government Grants - Non-current portion</option>
                  <option>Deferred lease rent - Current</option>
                  <option>Deferred lease rent - Non-current</option>
                  <option>Deferred revenue/Revenue received in advance</option>
                  <option>Deferred tax assets</option>
                  <option>Deferred tax charge/(credit)</option>
                  <option>Deposits received taken - non-current</option>
                  <option>Deposits received taken against assets given under finance lease - non-current</option>
                  <option>Deposits under protest with Government authorities - Non-Current</option>
                  <option>Deposits under protest with Government authorities - Current</option>
                  <option>Depreciation from discontinuing operations</option>
                  <option>Depreciation of Right-of-use assets</option>
                  <option>Depreciation on Investment property</option>
                  <option>Depreciation on Property, Plant and Equipment</option>
                  <option>Depreciation on Property, Plant and Equipment from discontinuing operations</option>
                  <option>Depreciation on Revalued Assets</option>
                  <option>Depreciation on Right of use assets</option>
                  <option>Depreciation on tangible assets</option>
                  <option>Depreciation on Vehicles</option>
                  <option>Depreciation on Work in Progress</option>
                  <option>Depreciation written back on revalued assets</option>
                  <option>Derivative (Loss)/Gain recognized in the statement of profit and loss</option>
                  <option>Derivative Premium</option>
                  <option>Derivatives</option>
                  <option>Development Cost</option>
                  <option>Development cost from capital work-in-progress</option>
                  <option>Development cost of mines and wells</option>
                  <option>Development Cost of Software</option>
                  <option>Discount allowed</option>
                  <option>Discount on issue of securities</option>
                  <option>Discount on securities</option>
                  <option>Discount to customer</option>
                  <option>Dividend Distribution Tax</option>
                  <option>Dividends</option>
                  <option>Documents sent to bank</option>
                  <option>Donation</option>
                  <option>DP Charges</option>
                  <option>Drawing Power</option>
                  <option>Due to MSME undertakings - Trade Payables</option>
                  <option>Due to other parties - Trade Payables</option>
                  <option>Due to related parties</option>
                  <option>Due to related parties - Trade Payables</option>
                  <option>Duties and Taxes recovered</option>
                  <option>Early settlement discount</option>
                  <option>EBDITA</option>
                  <option>EBIT</option>
                  <option>EBITDA</option>
                  <option>Education Cess</option>
                  <option>Electricity expenses</option>
                  <option>Electronic Hardware</option>
                  <option>Electronic Software</option>
                  <option>Email Charges</option>
                  <option>Employee benefits expense</option>
                  <option>Employee Compensation Expense</option>
                  <option>Employee Pension and Other Employee Benefits Expense</option>
                  <option>Employee Reimbursement</option>
                  <option>Employee salary/wages and bonus</option>
                  <option>Employee Stock Compensation Expense</option>
                  <option>Employee Stock Option Scheme Forfeited</option>
                  <option>Employees State Insurance Corporation(ESIC)</option>
                  <option>Employees' State Insurance Scheme</option>
                  <option>Employee's contribution to provident and other funds</option>
                  <option>Employee's Pension Scheme</option>
                  <option>Employees' Provident Fund</option>
                  <option>Employees' State Insurance Fund</option>
                  <option>Employees' State Insurance Scheme</option>
                  <option>Employer's contribution to provident and other funds</option>
                  <option>Employer's contribution to provident and other funds - Trade Payables</option>
                </select>
              </div>
          
              <div [formGroupName]="i" class="col">
                <!-- <div class="input-group"> -->
                  <!-- <div class="input-group-text">@</div> -->
                  <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Adjusted amount" formControlName="adjusted_amt">
                <!-- </div> -->
              </div>
            <!-- <div [formGroupName]="i" class="col">
              <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
              <select class="form-select" id="inlineFormSelectPref" formControlName="adjusted_amt">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
           -->
           <div [formGroupName]="i" class="col">
            <!-- <div class="input-group"> -->
              <!-- <div class="input-group-text">@</div> -->
              <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Narration" formControlName="narration">
            <!-- </div> -->
          </div>
            <!-- <div [formGroupName]="i" class="col">
                <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                <select class="form-select" id="inlineFormSelectPref" formControlName="subsidearieCode">
                  <option selected>Choose...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div> -->

            <!-- <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                <label class="form-check-label" for="inlineFormCheck">
                  Remember me
                </label>
              </div>
            </div> -->
          
            <div [formGroupName]="i" class="col-1">
              <button style = "font-family: Manrope" type="submit" (click)="submitsignatoryForm()" class="Button20">Submit</button>
            </div>
          </div>
          </form>
    </div>
    <div style="padding-bottom:5px; text-align: right;">
      <button style="font-family: Lexend;font-size: 16px; color: #ffffff; border: none;  padding-left: 14.50px; padding-right: 14.50px; padding-top: 7px; padding-bottom: 7px; background: #379AE6; border-radius: 18px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex" type="submit" (click)="submitsignatoryForm()" class="Button20">Save and Next</button>
    </div>
  </div>